@import "../../SCSS/mixins.scss";
@import "../../SCSS/variables.scss";

.headerNavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
}
.headerNavBar select {
    @include dropdown_mixin(14px, $mid_grey)
}
.headerNavBar a {
    padding: 6px 12px;
    @include defaultLinkStyles_mixin($mid_grey);
    &:hover{
        color: white;
        background: $hover_red;
    }
}
.dropdownWrap {
    display: flex;
    cursor: pointer;
}
.loginPhoto{
    @include squareSize_mixin();
}
.dropdown_arrow {
    @include dropdownArrow_mixin();
    @include squareSize_mixin();
}
.headerSelectBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $dark_grey;
}
.headerSelectBar select {
    @include dropdown_mixin(12px, $light_grey);
    background: $dark_grey;
}