@import "../../SCSS/mixins.scss";
@import "../../SCSS/variables.scss";

.headerNavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerNavLink{
    padding: 6px 12px;
    @include defaultLink_mixin($headers_grey);
    &:hover{
        color: white;
        background: $hover_red;
    }
}
.dropdown{
    border: none;
    color: $headers_grey;
    cursor: pointer;
}
.loginWrapp{
    display: flex;
    cursor: pointer;
}
.loginPhoto{
    @include squareSize_mixin();
}
.dropdown_arrow{
    @include dropdownArrow_mixin();
    @include squareSize_mixin();
}