@import "../../SCSS/mixins.scss";
@import "../../SCSS/variables.scss";

.blockWithIcon {
   @include blockWithIcon_mixin();
}
.loginPhoto{
    @include iconSize_32_mixin();
}
.iconFlexAndSize {
    @include flexCenter_mixin();
    @include iconSize_32_mixin();
}
.closeButton {
    @include flexCenter_mixin();
}
.header_NavBar {
    @include flexSpaceAroundCenter_mixin();
    padding: 14px 0;
}
.header_NavBar select {
    @include dropdownList_mixin(14px, $mid_grey)
}
.header_NavBar a {
    padding: 6px 12px;
    @include defaultLinkStyles_mixin($mid_grey);
    &:hover{
        color: white;
        background: $hover_red;
    }
}
.header_SelectBar {
    @include flexSpaceAroundCenter_mixin();
    background: $dark_grey;
}
.header_SelectBar select {
    @include dropdownList_mixin(12px, $light_grey);
    background: $dark_grey;
}
.header_SelectBar .blockWithIcon {
    color: $light_grey;
    font-size: 12px;
    font-weight: 700;
}