body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Roboto', 'Oxygen',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
main {
  width: 95vw;
  margin: 0 auto;
}
input:focus {
  outline: none;
}
button {
  border: none;
  cursor: pointer;
  transition: .2s;
}

