// Common mixins
@mixin iconSize_32_mixin(){
    width: 32px;
    height: 32px;
}
@mixin flexCenter_mixin(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexSpaceAroundCenter_mixin(){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin defaultLinkStyles_mixin($color){
    color: $color;
    font-size: 14px;
    text-decoration: none;
    transition: .2s;
}
@mixin blockWithIcon_mixin(){
    display: flex;
    cursor: pointer;
}

// Header mixin
@mixin dropdownList_mixin($font_size, $color){
    padding: 6px 12px;
    border: none;
    color: $color;
    cursor: pointer;
    font-family: Rubik;
    font-size: $font_size;
}
