@mixin squareSize_mixin(){
    width: 32px;
    height: 32px;
}
@mixin dropdownArrow_mixin(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin defaultLink_mixin($color){
    color: $color;
    font-size: 14px;
    text-decoration: none;
    transition: .2s;
}